<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @country.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @country.description %>
</p>

<p>
  <strong>Flag picture:</strong>
  <%= image_tag(@country.picture_url, :width => 600) if @country.picture.present? %>
</p>

<%= link_to 'Edit', edit_country_path(@country) %> |
<%= link_to 'Back', countries_path %>
